@model NetCoreIdentity.Web.Areas.Identity.Data.AppFunction

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="form-block">
        <div class="block-title">
            Editing AppFunction @Html.DisplayFor(m=>m.AppFunctionName)
        </div>
        <form id="appfuncform" asp-action="Edit" class="form-type-01 row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppFunctionId" />
            <div class="col-sm-12 col-md-12">
                <span class="title">
                    @Html.DisplayNameFor(model => model.AppFunctionName)
                </span>
                <input asp-for="AppFunctionName" class="form-control" />
                <span asp-validation-for="AppFunctionName" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-12">
                <span class="title">
                    @Html.DisplayNameFor(model => model.SchemaName)
                </span>
                <input asp-for="SchemaName" class="form-control" />
                <span asp-validation-for="SchemaName" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-12">
                <span class="title">
                    @Html.DisplayNameFor(model => model.ControllerName)
                </span>
                <input asp-for="ControllerName" class="form-control" />
                <span asp-validation-for="ControllerName" class="text-danger"></span>
            </div>

        </form>
    </div>

    <div class="form-block">
        <div class="col-sm-12 col-md-12">
            <a class="btn btn-01" onclick="$('#appfuncform').submit();">Save</a>
            <a class="btn btn-04" href="@Url.Action("Index")">Back</a>
        </div>
    </div>
</div>

 
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerId" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NameStyle" /> @Html.DisplayNameFor(model => model.NameStyle)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suffix" class="control-label"></label>
                <input asp-for="Suffix" class="form-control" />
                <span asp-validation-for="Suffix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesPerson" class="control-label"></label>
                <input asp-for="SalesPerson" class="form-control" />
                <span asp-validation-for="SalesPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordHash" class="control-label"></label>
                <input asp-for="PasswordHash" class="form-control" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordSalt" class="control-label"></label>
                <input asp-for="PasswordSalt" class="form-control" />
                <span asp-validation-for="PasswordSalt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rowguid" class="control-label"></label>
                <input asp-for="Rowguid" class="form-control" />
                <span asp-validation-for="Rowguid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@
 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
