@model NetCoreIdentity.Model.Customer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="form-block">
        <div class="block-title">
            Create a Customer
        </div>
        <form id="customerform" asp-action="Create" class="form-type-01 row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-sm-12 col-md-12">
                <span class="title">
                    @Html.DisplayNameFor(model => model.NameStyle)
                </span>
                <input asp-for="NameStyle" />
            </div>
            <div class="col-sm-12 col-md-12">
                <span class="title">
                    @Html.DisplayNameFor(model => model.Title)
                </span>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-12">
                <span class="title">
                    @Html.DisplayNameFor(model => model.FirstName)
                </span>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-12">
                <span class="title">
                    @Html.DisplayNameFor(model => model.LastName)
                </span>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-12">
                <span class="title">
                    @Html.DisplayNameFor(model => model.Suffix)
                </span>
                <input asp-for="Suffix" class="form-control" />
                <span asp-validation-for="Suffix" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-12">
                <span class="title">
                    @Html.DisplayNameFor(model => model.CompanyName)
                </span>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-12">
                <span class="title">
                    @Html.DisplayNameFor(model => model.SalesPerson)
                </span>
                <input asp-for="SalesPerson" class="form-control" />
                <span asp-validation-for="SalesPerson" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-12">
                <span class="title">
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </span>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-12">
                <span class="title">
                    @Html.DisplayNameFor(model => model.Phone)
                </span>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-12">
                <span class="title">
                    @Html.DisplayNameFor(model => model.Phone)
                </span>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </form>
    </div>
   
    <div class="form-block">
        <div class="col-sm-12 col-md-12">
            <a class="btn btn-01" onclick="$('#customerform').submit();">Submit</a>
            <a class="btn btn-04" href="@Url.Action("Index")">Back</a>
        </div>
    </div>
</div>
 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
